
<br><br><br><br><br><br><br><br>
<h1 class="title" style="position: relative; width: 400px; margin-left: 752px;"> Create Account </h1>
<div class="box"></div>
<form method="POST" action="/createAccount/create">
    <input type="text" name="Username" placeholder="Username" style=" position:relative; top:20px; height:35px; width: 400px; margin-left: 745px;" required><br><br>
    <input type="password" name="Password" placeholder="Password" style=" position:relative; top:20px; height:35px; width: 400px; margin-left: 745px;" required><br><br>
    <button type="submit" style="position: relative; top:25px; height:35px; width: 205px; margin-left: 845px;"> Submit</button>
</form>
<h4 class="title" style="position: relative; top:25px; height:15px; width: 800px; margin-left: 550px;"> {{message}} </h4>
<a href="/"><button style="position:relative; top:20px; height:35px; width: 400px; margin-left: 750px">Back</button></a>
