
<br><br><br><br><br><br><br><br>
<h1 class="title" style="position: relative; width: 400px; margin-left: 752px;"> Health Companion </h1>
<a href="/login"><button style="position:relative; top:20px; height:35px; width: 400px; margin-left: 750px">Login</button></a><br><br>
<a href="/createAccount"><button style="position:relative; top:20px; height:35px; width: 400px; margin-left: 750px">Create Account</button></a>
